* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug{
    border: 2px solid red;
}
body{
    background-color: antiquewhite;
}

#box{
    background-color: rgb(0, 179, 255);
    padding: 20px;
    border: 3px solid blue;
    border-radius: 20px;
    width: 30%;
}

.result{
    background-color: orange;
    border-radius: 20px 20px 0px 0px;
    margin-top: 50px;
    height: 300px;
    width: 30%;
    color: black;
    margin: 30px auto;
    
}
#resultpc, #resultuser{
    width: 150px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

#human,  #computer{
    text-align: center;
   
    
    
}
#win{
    height: 100px;
    width: 30%;
    margin: auto;
    font-size: 4em;
    text-align: center;
    background-color: black;
    color: white;
}
img{
    width: 50%;
}