* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 253);
}
div.container{
    margin-top: 100px;
    border:5px solid green;
    padding: 30px;
    background-color: rgb(226, 226, 169);

}


#result{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: white;
    font-weight: bold;
    width: 300px;
    height: 50px;
    background-color: rgb(230, 231, 209);

   
    text-align: center;
    text-decoration: none;
    
}